p input.right-radio[type="radio"]{
    float: left;
    clear: left;
}
p label.right-radio{
    margin-left: auto !important;
    text-align: left;
}
#gitlab_fieldset, #form_gitlab_create, #auth_status, .add_repository_form{
	display: none;
}
.git_holder{
}
.url_btn{
	font-weight: bold;
	margin-right: -1px;
	border: 2px solid #628db6;
	padding: 6px 9px;
	display: inline-block;
	cursor:  pointer;
	float: left;
	background-color: #fff;
	color: #555;
	margin-top: 0px;
}
.url_btn.active{
	color: #fff;
	background-color: #628db6;
}
.url_btn.active:hover{
	color: #fff;
	background-color: #628db6;
}
.url_btn:hover{
	background-color: #759fcf;
	color: #fff;
}
.project_clone, #repository_url{
	background: none repeat scroll 0 0 #fafafa;
	cursor: auto;
/*	border: 2px solid #628db6; */
	border: none;
	padding: 4px 9px;
	font-family: "Menlo","Liberation Mono","Consolas","Courier New","andale mono","lucida console",monospace;
	color: #555555;
	font-size: 13px;
	width: 40%;
	margin-top: -19px;
	margin-left: 1px;
}
#gitlab_auth_form{
	display: none;
}
a.delete_btn, a.close_btn{
	cursor: pointer;
	color: #169;
	padding-left: 5px;
}
a.delete_btn:hover, a.close_btn:hover{
	cursor: pointer;
	color: #ff4136;
	text-decoration: none;
}
a.add_btn, a.approve_btn, a.four_btn{
	cursor: pointer;
	color: #169;
}
a.add_btn:hover, a.approve_btn:hover, a.four_btn:hover{
	color: #2ecc40;
	text-decoration: none;
	cursor: pointer;
}
#add_repository{
	padding-top: 10px;
}
.alert{
  	background: url('/images/exclamation.png') 8px 50% no-repeat;
  	background-color: #ffe3e3;
  	border-color: #dd0000;
  	color: #880000;
}

