p input.right-radio[type="radio"]{
    float: left;
    clear: left;
}
fieldset.tabular p label.right-radio{
    margin-left: auto;
    text-align: left;
}
#auth_status{
	display: none;
}
#gitlab_fieldset{
	display: none;
}
