p input.right-radio[type="radio"]{
    float: left;
    clear: left;
}
p label.right-radio{
    margin-left: auto !important;
    text-align: left;
}
#gitlab_fieldset, #form_gitlab_create, .add_repository_form{
  display: none;
}
.git_holder{
}
.gitlab-textarea{
  min-width: 60em;
}
a.title-url, a.title-url:hover, a.title-url:visited{
  color: #fff;
}
.url_btn.active{
  color: #fff;
  background-color: #628db6;
}
.url_btn.active:hover{
  color: #fff;
  background-color: #628db6;
}
.url_btn:hover{
  background-color: #759fcf;
  color: #fff;
}
.project_clone, #repository_url{
  background: none repeat scroll 0 0 #fafafa;
  cursor: auto;
  font-family: "Menlo","Liberation Mono","Consolas","Courier New","andale mono","lucida console",monospace;
  color: #555555;
  font-size: 14px;
  width: 40%;
  padding: 3px 8px;
  margin-left: -3.2px;
}
a.delete_btn{
  float: right;
  cursor: pointer;
  color: #eff4ff;
}
a.close_btn{
  cursor: pointer;
  color: #169;
  padding-left: 5px;
}
a.delete_btn:hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
a.close_btn:hover{
  cursor: pointer;
  color: #ff4136;
  text-decoration: none;
}
#add_repository{
  padding-top: 10px;
}
.alert{
    background: url('/images/exclamation.png') 8px 50% no-repeat;
    background-color: #ffe3e3;
    border-color: #dd0000;
    color: #880000;
}
#user_gitlab_token{
  width: 90%;
}

